---
import Header from "../components/Header.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
const pageTitle = "Nosotros";
/* const identity = {
  firstName: "Steve",
  country: "Peru",
  occupation: "Developer",
  hobbies: ["programming", "music", "movies", "series", "games"],
}; */
const skills = [
  "Daniel Díaz Seminario",
  "Julio Flores Herrera",
  "Diego Zevallos Torres ",
  "Ibrahim Armaulia Espinoza",
  "Steve Edward Gomez Huamani",
  "Hugo García Vilcas Christian",
  "Jose Padilla Mattos"
];
const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>

    <style define:vars={{ skillColor, fontWeight, textCase }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <h2>Que buscamos?</h2>

    <p>
      El proyecto de "Sistema de Riego Automático" busca abordar una serie de problemas 
      existentes en la agricultura,entre los que se incluyen:
    </p>

    <p>
      Este sitio se irá actualizando a medida que vaya completando más partes
      del trabajo, ¡así que no dejes de visitarlo para ver cómo va nuestro viaje!
    </p>
   <!--  <ul>
      <li>Me llamo {identity.firstName}.</li>
      <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Dos de mis aficiones son: {identity.hobbies[0]} y{" "}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul> -->
    <p>Integrantes:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {happy && <p>¡Proyecto iniciado!</p>}

    {finished && <p>¡He terminado este Proyecto!</p>}

    {
      goal === 3 ? (
        <p>Mi objetivo es terminar en 23 días.</p>
      ) : (
        <p>Nuestro objetivo no son 3 días.</p>
      )
    }
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
